* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-align: left;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100%;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color: #ffffff;
    padding: 100px 0;
    min-height: 100%;
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    padding: 9px 87px 8px 12px;
    appearance: none;
    background-image: url("./assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    padding: 0 20px;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image: url("./assets/images/arrow-right.svg");
    padding-left: 20px;
    width: 80px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
}

.label {
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    padding: 9px 215px 8px 12px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
}

.btn {
    background-color: #2965f1;
    border-radius: 5px;
    border-width: 0;
    width: 125px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 10px 27px 9px 29px;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    width: 300px;
    height: 196px;
    border: 1px solid #95a1bb;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

th, td {
    padding: 12px 15px;
}

footer {
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}